// 대표 font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
}

// 대표 색상
$main-color: #5383E8;

.ant-tabs-tabpane{
    padding-top: 30px;
    padding-bottom: 30px;
}